.titolo {
    color: red;
    text-align: center;
    font-size: 54px;
}
body {
    background-size: cover;
    background-image: url(image/banner.jpg);
}
input {
    margin-top: 5px;
}
input, p {
    front-weight: bold;
}
.Textm {
  font-family: 'Oswald';
  position: relative;
  left: 46px;
  top: 15px
}
#orario {
  width:300px;
  height:90px;
  border:none;
  box-shadow: 0px 0px 20px 0px;
  font-family: 'Oswald';
  font-size:50px;
  color:white;
  background-color:blue;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 50%;
}
#LOG {
  position:relative;
  top: 540px;
}
#title {
  bottom:100px;
}
.text {
  font-family: 'Oswald';
  color:black;
  font-size: 40px;
  text-align: center;
}
.SOCIAL {
  position: relative;
  bottom:600px;
  left: 1830px;
  width:50px;
  box-shadow: 0px 0px 20px 0px;
}
